<div class="min-h-screen bg-gray-100 p-0 sm:p-12">
  <div
    class="mx-auto max-w-md px-6 py-12 bg-white border-0 shadow-lg sm:rounded-3xl"
  >
    <h1 class="text-2xl font-bold mb-8">Formulario de Citas Medicas</h1>
    <form [formGroup]="consultaForm" (ngSubmit)="registrarConsulta()">
      <div class="relative z-0 w-full mb-5">
        <select
          formControlName="id_paciente"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none z-1 focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        >
          <option value="" disabled selected>Seleccione el paciente</option>
          <option
            *ngFor="let paciente of pacientes"
            [value]="paciente.id_paciente"
          >
            {{ paciente.nombres }} {{ paciente.apellidos }}
          </option>
        </select>
      </div>
      <div class="relative z-0 w-full mb-5">
        <select
          formControlName="id_medico"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none z-1 focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        >
          <option value="" disabled selected>Seleccione el medico</option>
          <option *ngFor="let medico of medicos" [value]="medico.id_medico">
            {{ medico.nombres }} {{ medico.apellidos }}
          </option>
        </select>
      </div>

      <div class="relative z-0 w-full mb-5">
        <input
          type="text"
          formControlName="motivo_consulta"
          placeholder="Motivo de la consulta"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
      </div>

      <div class="relative z-0 w-full mb-5">
        <input
          type="text"
          placeholder="Tratamiento"
          formControlName="tratamiento"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
      </div>

      <div class="relative z-0 w-full mb-5">
        <select
          formControlName="estado"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none z-1 focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        >
          <option value="" disabled selected>Seleccione el estado</option>
          <option *ngFor="let estado of estados" [value]="estado">
            {{ estado }}
          </option>
        </select>
      </div>

      <div class="flex flex-row space-x-4">
        <div class="relative z-0 w-full mb-5">
          <input
            type="text"
            placeholder="Fecha"
            formControlName="fecha_cita"
            onclick="this.setAttribute('type', 'date');"
            class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
          />
        </div>
        <div class="relative z-0 w-full">
          <input
            type="text"
            placeholder="Hora"
            formControlName="hora_cita"
            onclick="this.setAttribute('type', 'time');"
            class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
          />
        </div>
      </div>

      <button
        type="submit"
        class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-600 hover:shadow-lg focus:outline-none"
      >
        Registrar Consulta
      </button>
    </form>
  </div>
</div>
